@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: hsl(217, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
